html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --toggle-background-default: #F0EFEF;
  --toggle-text-default: #A0A0A0;
  --toggle-text-selected: #656565;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

/* common */
.subtitle {
  margin-block-start: 0.6em;
  margin-block-end: 0.5em;
}

/* Toggle */
.toggle-wrap {
  width: 400px;
  height: 45px;
  margin: 10px 0;
}
.toggle-input {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.toggle-input:checked + span {
  transform: translateX(30px);
}
.toggle-slider {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 45px;
  padding: 0 3px;
  background-color: var(--toggle-background-default);
  border-radius: 50px;
  color: var(--toggle-text-default);
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
}
.toggle-default {
  display: inherit;
  justify-content: center;
  align-items: center;
  width: 200px;
}
.toggle-selected {
  display: inherit;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 39px;
  background-color: white;
  color: var(--toggle-text-selected);
  border-radius: 50px;
}